<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
			
			<!-- Start Menu -->
			<StandardDirectory Id="ProgramMenuFolder">
				<Directory Id="InstallProgramMenuFolder" Name="!(loc.ProductName)" />
			</StandardDirectory>
			
			<StandardDirectory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductName)" />
			</StandardDirectory>
		
		</Fragment>
</Wix>
