<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?define BuildVersion = 1.0.0.420 ?>
	<?define UpgradeCode = {1C2B5971-9F44-49DC-8F5E-A8E9B0DDCABA} ?>
	
	<Product
		Id="{FC105510-DD11-423F-A2C1-224D5238AEFB}"
		Name="!(loc.ProductName_x64)"
		Language="!(loc.Language)"
		Version="$(var.BuildVersion)"
		Manufacturer="!(loc.CompanyName)"
		UpgradeCode="$(var.UpgradeCode)">
		<Package
			InstallerVersion="200"
			Compressed="yes"
			InstallScope="perMachine"
			Platform="$(var.Platform)"
			Manufacturer="!(loc.CompanyName)"
			Description="!(loc.Description)"
			Comments="!(loc.Comments)"
			Keywords="!(loc.Keywords)"/>
		
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Impulse Dashboard"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Tutorials By Gary" />
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
    </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f9">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Impulse Dashboard" Description="Impulse Dashboard Description" Target="[INSTALLFOLDER]Impulse.Dashboard.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\TutorialsByGary" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
