<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	
	<?define UpgradeCode = {1C2B5971-9F44-49DC-8F5E-A8E9B0DDCABA} ?>
	
	<Package Id="ImpulseDashboardPackage" Name="!(loc.ProductName_x64)" Language="!(loc.Language)" Version="$(var.BuildVersion)" Manufacturer="!(loc.CompanyName)" UpgradeCode="$(var.UpgradeCode)" InstallerVersion="200" ProductCode="{FC105510-DD11-423F-A2C1-224D5238AEFB}">
		
		<SummaryInformation Manufacturer="!(loc.CompanyName)" Description="!(loc.Description)" Keywords="!(loc.Keywords)" />
		
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeMessage)" />
		
		<!-- Cab file is a zip with the installers contents, not embedding it will produce an msi + cab file. -->
		<MediaTemplate EmbedCab="yes" />

		<Icon Id="icon.ico" SourceFile="$(var.Impulse.Dashboard.ProjectDir)\ImpulseIcon.ico" />

		<!-- Set the icon for our product to be the icon we created above. -->
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<Property Id="ARPURLINFOABOUT" Value="https://www.youtube.com/channel/UCzvWh64GQm_OfkJXyYo7whQ" />

		<!-- Tell the installer to use the basic UI. -->
		<ui:WixUI Id="WixUI_Minimal" />
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp" />
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp" />
		
		<Feature Id="ProductFeature" Title="ImpulseDashboard" Level="1">
			<ComponentGroupRef Id="ProductComponents" />			
			<ComponentGroupRef Id="PublishedComponents" />			
		</Feature>
	</Package>
</Wix>
