<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Memory" connectionString="Data Source=:memory:"/>
    <add name="Development" connectionString="Data Source=./Database"/>
    <add name="Production" connectionString="Data Source=%AppData%\Management\Database.db"/>
  </connectionStrings>
</configuration>